<% content_for :sidebar do %>
	
	<!--[if !IE]>start calendar<![endif]-->
	<div class="calendar">
		<div class="calendar_top">
			<% time = Time.now -%>
			<strong><%= time.strftime("%I:%M") -%></strong>
			<span><%= time.strftime("%A, %d %B %Y") -%></span>
		</div>
		<div class="calendar_middle">
			<div class="calendar_data">
			
			
			
			<!--[if !IE]>start calendar data<![endif]-->
			
						<div class="cmonth">
						<div class="ctrl">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<td align="left" style="width: 15px;"><a class="calendar_prev" href="#">&laquo; </a></td>
									<td align="center"><span><strong><%= time.strftime("%B %Y") -%></strong></span></td>
									<td align="right" style="width: 15px;"><a class="calendar_next" href="#">&raquo;</a></td>
								</tr>
		
							</table>
						</div>

						
						</div>

						
			
						<div class="cont">
							<ul class="chead">
								<li><span>sun</span></li>
			
								<li><span>mon</span></li>
								<li><span>tue</span></li>
								<li><span>wed</span></li>
								<li><span>thu</span></li>
								<li><span>fri</span></li>
								<li><span>sat</span></li>
			
							</ul>
							
							<ul class="cdays">				
								<li><span></span></li>
								<li><a href="#">1</a></li>
			
								<li><a href="#">2</a></li>
			
								<li><a href="#">3</a></li>
			
								<li><a href="#">4</a></li>
			
								<li><a href="#"  class="event">5</a></li>
			
								<li><a href="#"  class="event">6</a></li>
			
								<li><a href="#">7</a></li>
			
								<li><a href="#">8</a></li>
			
								<li><a href="#">9</a></li>
			
								<li><a href="#">10</a></li>
			
								<li><a href="#">11</a></li>
			
								<li><a href="#"  class="event">12</a></li>
			
								<li><a href="#"  class="event">13</a></li>
			
								<li><a href="#">14</a></li>
			
								<li><a href="#">15</a></li>
			
								<li><a href="#">16</a></li>
			
								<li><a href="#">17</a></li>
			
								<li><a href="#">18</a></li>
			
								<li><a href="#">19</a></li>
			
								<li><a href="#"  class="event">20</a></li>
			
								<li><a href="#">21</a></li>
			
								<li><a href="#">22</a></li>
			
								<li><a href="#">23</a></li>
			
								<li><a href="#">24</a></li>
			
								<li><a href="#">25</a></li>
			
								<li><a href="#">26</a></li>
			
								<li><a href="#">27</a></li>
			
								<li><a href="#">28</a></li>
			
								<li><a href="#">29</a></li>
			
								<li><a href="#">30</a></li>
			
								<li><a href="#">31</a></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
							</ul>
							
						</div>

			
			
			
			<!--[if !IE]>end calendar data<![endif]-->
			
			
			
			
			
			</div>
		</div>
		<div class="calendar_bottom"></div>
		<!--[if !IE]>start section content footer<![endif]-->
		<div class="section_content_footer">
			<ul>
				<li><a href="#" class="plus">Add new event</a></li>
				<li><a href="#" class="next">Next Event</a></li>
			</ul>
			<span class="scf"></span>
		</div>
		<!--[if !IE]>end section content footer<![endif]-->
	</div>
	<!--[if !IE]>end calendar<![endif]-->
	
	
	

	<!--[if !IE]>start section<![endif]-->	
	<div class="section">
		<!--[if !IE]>start title wrapper<![endif]-->
		<div class="title_wrapper">
			<h2>Quick Menu</h2>
			<span class="title_wrapper_left"></span>
			<span class="title_wrapper_right"></span>
		</div>
		<!--[if !IE]>end title wrapper<![endif]-->
		<!--[if !IE]>start section content<![endif]-->
		<div class="section_content">
			<!--[if !IE]>start section content top<![endif]-->
			<div class="sct">
				<div class="sct_left">
					<div class="sct_right">
						<div class="sct_left">
							<div class="sct_right">
								<ul class="sidebar_menu">
									<li><%= link_to "Add a new Contact", new_contact_path %></li>
									<li><%= link_to "Add a new Company", new_contact_path %></li>
									<li><%= link_to "Add a new Candidate", new_contact_path %></li>
									<li><%= link_to "Add a new Job Opening", new_contact_path %></li>
									<li class="last"><%= link_to "Send a message", new_contact_path %></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--[if !IE]>end section content top<![endif]-->
			<!--[if !IE]>start section content bottom<![endif]-->
			<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
			<!--[if !IE]>end section content bottom<![endif]-->
			
		</div>
		<!--[if !IE]>end section content<![endif]-->
	</div>
	<!--[if !IE]>end section<![endif]-->
	
	
	<!--[if !IE]>start quick info<![endif]-->
	<div class="quick_info">
		<div class="quick_info_top">
			<h2>Quick info</h2>
		</div>
		<div class="quick_info_content">
			<dl>
				<dt>12 products</dt>
				<dd>avaiting approval</dd>
			</dl>
			<dl>
				<dt>228 sales</dt>
				<dd>in the last 24 hours</dd>
			</dl>
			<dl>
				<dt>18 users</dt>
				<dd>currently online</dd>
			</dl>
			<dl>
				<dt>15.2%</dt>
				<dd>increase in traffic this month</dd>
			</dl>
		</div>
		<span class="quick_info_bottom"></span>
	</div>
	<!--[if !IE]>end quick info<![endif]-->
	
<% end %>