<h1><%= @page_title = 'View / Change Billing Information' %></h1>

<% if @subscription.state == 'trial' %>
  <% if @subscription.next_renewal_at > Time.now %>
    <p>
      Thank you for trying <%= AppConfig['app_name'] %>!  Your trial account will expire in <%= pluralize(@subscription.trial_days, 'day', 'days') %>, at which time you will no longer have access to your account.  To maintain access to your account, enter your credit card information below.  Your first charge will happen on <%= @subscription.next_renewal_at.to_s(:long_day) %>.
    </p>
  <% else %>
    Thank you for trying <%= AppConfig['app_name'] %>!  Your trial account has expired.  To regain access to your account, enter your credit card information below.  Your first charge will happen immediately, and you will be billed monthly thereafter.
  <% end %>
<% end %>

<fieldset>
  <label>Plan:</label>
  <%= @subscription.subscription_plan.name %> (<a href="/account/plan">Change plan</a>)
  
  <% if @subscription.state == 'trial' %>
    <label>Trial expiration date:</label>
    <%= @subscription.next_renewal_at.to_s(:long_day) %>
  <% else %>
    <% if @subscription.amount > 0 %>
      <label>Next charge date:</label>
      <%= @subscription.next_renewal_at.to_s(:long_day) %>
      <br/>
      <label>Next charge amount:</label>
      <%= number_to_currency @subscription.amount %>
      <br/>
      <label>Current payment method:</label>
      <%= @subscription.paypal? ? 'PayPal' : "#{@subscription.card_number} / #{@subscription.card_expiration}" %>
    <% end %>
  <% end %>
</fieldset>

<% if @subscription.amount > 0 %>
  <% form_for :creditcard, @creditcard, :url => { :action => 'billing' } do |f| %>
    <%= render :partial => 'shared/credit_card_form' %>
    <%= submit_or_cancel '/account', 'Update billing information' %>
  <% end %>
<% end %>